APPWRITE_PROJECT_NAME=something
APPWRITE_PROJECT_ID=something
APPWRITE_ENDPOINT=something
APPWRITE_DATABASE_ID=something
APPWRITE_USERS_COLLECTION_ID=something
APPWRITE_API_KEY=something

EMAIL DELIVERY
SENDER_EMAIL=Your email
SENDER_PASSWORD=gmail app password